<!doctype html>
<html lang="en">

<!--header-->
<%- include('header'); %>

<body class="main-body">
<div class="container bg-light">
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-12 col-lg-4">
                <div class="reg-box">
                    <div class="mb-3 text-center">
                        <h1>Change password</h1>
                    </div>

                    <form action="/profile/editpass" method="post">
                        <div class="mb-3">
                            <label for="oldPass" class="form-label">Old password</label>
                            <input type="password" class="form-control" name="oldPass">
                        </div>
                        <div class="mb-3">
                            <label for="newPass1" class="form-label">New password</label>
                            <input type="password" class="form-control" name="newPass1">
                        </div>
                        <div class="mb-3">
                            <label for="newPass2" class="form-label">New password</label>
                            <input type="password" class="form-control" name="newPass2">
                        </div>
                        <div class="row mb-3">
                            <div class="col text-center">
                                <button type="submit" class="btn btn-primary">Save</button>
                            </div>
                            <div class="col text-center">
                                <a href="/profile" role="button" class="btn btn-danger">Cancel</a>
                            </div>
                        </div>
                    </form>
                </div>
                <%- include('rendAlert'); %>
            </div>
        </div>
        <div class="col-lg-4"></div>
    </div>
</div>

<!--footer-->
<%- include('footer'); %>

</body>
</html>
