<!doctype html>
<html lang="en">

<!--header-->
<%- include('header'); %>

<body class="main-body">
<div class="container bg-light">
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-12 col-lg-4 reg-box">
            <div class="mb-3 text-center">
                <h1>Forgot password</h1>
            </div>

            <form action="/forgotpass" method="post">
                <div class="mb-3">
                    <label for="sendEmail" class="form-label">Email</label>
                    <input type="email" class="form-control" name="sendEmail" aria-describedby="emailHelp">
                </div>
                <div class="row mb-3">
                    <div class="col text-center">
                        <button type="submit" class="btn btn-primary">Send</button>
                    </div>
                    <div class="col text-center">
                        <a href="/profile" role="button" class="btn btn-danger">Cancel</a>
                    </div>
                </div>
            </form>
            <%- include('rendAlert'); %>
        </div>
        <div class="col-lg-4"></div>
    </div>
</div>

<!--footer-->
<%- include('footer'); %>

</body>
</html>
