<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Bootstrap CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <!--tweetoo CSS-->
    <link href="/css/tweetoo-style.css " rel="stylesheet" type="text/css">

    <!--Font Awesome-->
    <script src="https://kit.fontawesome.com/8c74d9ab60.js" crossorigin="anonymous"></script>
    <title>tweetoo</title>
</head>
