<!doctype html>
<html lang="en">

<!--header-->
<%- include('header'); %>

<body class="main-body">
<div class="container bg-light">
    <div class="row">
        <div class="row">
            <div class="d-flex justify-content-center">
                <div class="col-12 col-md-4">
                    <div class="log-box">
                        <div class="mb-3 text-center">
                            <h1>Login</h1>
                        </div>
                        <form action="/login" method="post">
                            <div class="mb-3">
                                <label for="regEmailInput" class="form-label">Email</label>
                                <input type="email" name="email" class="form-control" id="regEmailInput" aria-describedby="emailHelp">
                            </div>
                            <div class="mb-3">
                                <label for="regPasswordInput" class="form-label">Password</label>
                                <input type="password" name="password" class="form-control" id="regPasswordInput">
                            </div>
                            <div class="row mb-3">
                                <div class="col text-center">
                                    <button type="submit" class="btn btn-primary">Login</button>
                                </div>
                                <div class="col text-center">
                                    <a class="btn btn-danger" href="/" role="button">Cancel</a>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="row">
                        <div class="col text-start">
                            <a href="/reg">
                                <button type="submit" class="btn btn-link">Registration</button>
                            </a>
                        </div>
                        <div class="col text-end">
                            <a href="/forgotpass">
                                <button type="submit" class="btn btn-link">Forgot password</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <%- include('rendAlert'); %>
</div>

<!--footer-->
<%- include('footer'); %>

</body>
</html>
