<div class="container-fluid">
    <div class="row">
        <h2>Profile</h2>
    </div>
    <div class="row">
        <div class="col-5">
            <div class="row d-flex justify-content-center">
                <% if (typeof user.photo_id !== 'undefined' && user.photo_id !== null) { %>
                <img src="/upload/photo/<%=user.photo_id%>" class="imgProfile">
                <% } else { %>
                <img src="/public/assets/img/profilPhotoPlaceholder.png" class="imgProfile">
                <% } %>
            </div>
            <div class="row d-flex text-center g-2" >
                <form action="/profile/uploadphoto" method="post" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="ProfilePhoto" class="form-label"></label>
                        <input class="form-control form-control-sm" id="profilePhoto" type="file" name="profilePhoto">
                    </div>
                    <button class="btn btn-primary btn-sm" type="submit" name="addPhoto">
                        <i class="fas fa-plus-circle"></i>
                    </button>
                    <a href="/profile/delphoto/<%= user.photo_id%>" class="btn btn-danger btn-sm">
                        <i class="far fa-trash-alt"></i>
                    </a>
                </form>

            </div>
        </div>
        <div class="col-7">
            <div class="row">
                <h5>Nickname: <%= user.nickname%></h5>
                <h5>Email: <%= user.email%></h5>
            </div>
            <div class="row">
                <div class="row">
                    <div class="col mx-auto btn-sm">
                        <a href="/profile/editmail">
                            <button class="btn btn-primary">Change email</button>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col mx-auto btn-sm">
                        <a href="/profile/editpass">
                            <button class="btn btn-primary">Change password</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
